<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>student-confirm</title>
</head>
<body>
<h1>student info</h1>
<span> name = <th:block th:text="${student.firstName} + ' ' + ${student.lastName}" /></span>
<div>country: <span th:text="${student.country}" /></div>
<div>favorite programming language: <span th:text="${student.favoriteLanguage}" /></div>
<div>favorite os systems</div>
<ul>
    <li th:each="fav_system: ${student.favoriteSystems}" th:text="${fav_system}"/>
</ul>
</body>
</html>