<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/student/processStudentForm}" th:object="${student}" method="post">
    <div>
        <label th:for="*{firstName}">FirstName</label>
        <input type="text" name="firstName" th:field="*{firstName}"/>
    </div>
    <div>
        <label th:for="*{firstName}">LastName</label>
        <input type="text" name="lastName" th:field="*{lastName}"/>
    </div>
    <div>
        <label th:for="*{country}">country</label>
        <select name="country" th:field="*{country}">
            <option disabled selected value="">-- choose --</option>
            <option th:each="ct: ${countries}"
                    th:text="${ct}"
                    th:value="${ct}"/>
        </select>
    </div>
    <fieldset>
        <legend>favorite programming language</legend>
        <th:block th:each="lang: ${languages}">
            <input type="radio" th:field="*{favoriteLanguage}"
                   th:value="${lang}"
                   th:name="${lang}"
            />
            <label th:for="${lang}" th:text="${lang}"/>
        </th:block>
    </fieldset>

    <fieldset>
        <legend>favorite systems</legend>
        <th:block th:each="sys: ${systems}">
            <input type="checkbox"
                   th:field="*{favoriteSystems}"
                   th:value="${sys}"
            />
            <label th:text="${sys}" th:for="${sys}"/>
        </th:block>
    </fieldset>
    <button type="submit">Submit</button>
</form>
</body>
</html>